
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Laralink">
  <!-- Site Title -->
  <title>ride.</title>
  <link rel="icon" type="image/x-icon" href="../public/admin/img/favicon/favicon.ico" />
  <link rel="stylesheet" href="/public/users/assets/css/style.css">

</head>

<body>
  <div class="tm_container">
    <div class="tm_invoice_wrap">
      <div class="tm_invoice tm_style1 tm_type1" id="tm_download_section">
        <div class="tm_invoice_in">
          <div class="tm_invoice_head tm_top_head tm_mb15 tm_align_center">
            <div class="tm_invoice_left">
              <div class="tm_logo" style="display: flex;"><img src="/public/admin/img/favicon/favicon.ico" style="height: 40px; width:auto" alt="Logo"> <h3 style="color:#566a7f; font-weight: bold;">ride.</h3></div>
            </div>
            <div class="tm_invoice_right tm_text_right tm_mobile_hide">
              <div class="tm_f50 tm_text_uppercase tm_accent_color">Invoice</div>
            </div>
            <div class="tm_shape_bg tm_accent_bg_20 tm_mobile_hide"></div>
          </div>
          <div class="tm_invoice_info tm_mb25">
            <div class="tm_card_note tm_mobile_hide"><b class="tm_primary_color"></b></div><br>

            <div class="tm_invoice_info_list tm_accent_color">
              <p class="tm_invoice_number tm_m0">Order Id: <b>#<%= String(order._id).slice(10)%> </b></p>
              <p class="tm_invoice_date tm_m0">Date: <b><%= moment(order.orderDate).format('DD.MM.YYYY')  %> </b></p>
            </div>
            <div class="tm_invoice_seperator tm_accent_bg_20"></div>
          </div>
          <div class="tm_invoice_head tm_mb10">
            <div class="tm_invoice_left">
              <p class="tm_mb2"><b class="tm_primary_color">Invoice To:</b></p>
              <p>
                <%= order.address.fullName %> <br>
                <%= order.address.phoneNumber %> <br>
                <%= order.address.address %> - <%= order.address.city %><br><%= order.address.state%> - <%= order.address.pincode %> <br>
              </p>
            </div>
            <div class="tm_invoice_right tm_text_right">
              <p class="tm_mb2"><b class="tm_primary_color">Pay To:</b></p>
              <p>
                Ride PVT.LTD<br>
                ride@gmail.com <br>
                Paul Street, Calicut<br>
                Kerala - 676552<br>
              </p>
            </div>
          </div>
          <div class="tm_table tm_style1 tm_mb30">
            <div>
              <div class="tm_table_responsive">
                <table>
                  <thead>
                    <tr class="tm_accent_bg_20">
                      <th class="tm_width_2 tm_semi_bold tm_accent_color">No.</th>
                      <th class="tm_width_5 tm_semi_bold tm_accent_color">Product Name</th>
                      <th class="tm_width_2 tm_semi_bold tm_accent_color">Price</th>
                      <th class="tm_width_1 tm_semi_bold tm_accent_color">Qty</th>
                      <th class="tm_width_2 tm_semi_bold tm_accent_color tm_text_right">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% order.products.forEach((product,index) => { %>
                    <tr>
                      <td class="tm_width_2 tm_border_top_0"><%= index+1 %> </td>
                      <td class="tm_width_5 tm_border_top_0"><%= product.productId.productName  %> </td>
                      <td class="tm_width_2 tm_border_top_0"><%= product.productId.price %> </td>
                      <td class="tm_width_1 tm_border_top_0"><%= product.quantity %> </td>
                      <td class="tm_width_2 tm_border_top_0 tm_text_right"><%= product.total %> </td>
                    </tr>
                    <% }); %> 
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tm_invoice_footer tm_border_top tm_mb15 tm_m0_md">
              <div class="tm_left_footer">
                <p class="tm_mb2"><b class="tm_primary_color">Payment info:</b></p>
                <p class="tm_m0">Payment Method : <%= order.paymentMethod %> </p>
                <p class="tm_m0">Payment Status : <%= order.paymentStatus %> </p>
              </div>
              <div class="tm_right_footer">
                <table class="tm_mb15">
                  <tbody>
                    <tr>
                      <td class="tm_width_3 tm_primary_color tm_bold">Subtoal</td>
                      <td class="tm_width_3 tm_primary_color tm_bold tm_text_right">₹ <%= order.subTotal %> </td>
                    </tr>
                    <tr>
                      <td class="tm_width_3 tm_primary_color">Discount</td>
                      <td class="tm_width_3 tm_primary_color tm_text_right">₹ <%= order.discount.amount %></td>
                    </tr>
                    <tr class="tm_accent_bg_20">
                      <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_accent_color">Grand Total	</td>
                      <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_accent_color tm_text_right"><%= order.grandTotal %> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr class="tm_mb20">
          <p class="tm_mb0 tm_text_center tm_accent_color">Thank you for purchacing from us. Continue purchacing 🙂</p>
        </div>
      </div>
      <div class="tm_invoice_btns tm_hide_print">
        <a href="javascript:window.print()" class="tm_invoice_btn tm_color1">
          <span class="tm_btn_icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M384 368h24a40.12 40.12 0 0040-40V168a40.12 40.12 0 00-40-40H104a40.12 40.12 0 00-40 40v160a40.12 40.12 0 0040 40h24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><rect x="128" y="240" width="256" height="208" rx="24.32" ry="24.32" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M384 128v-24a40.12 40.12 0 00-40-40H168a40.12 40.12 0 00-40 40v24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><circle cx="392" cy="184" r="24" fill='currentColor'/></svg>
          </span>
          <span class="tm_btn_text">Print</span>
        </a>
        <button id="tm_download_btn" class="tm_invoice_btn tm_color2">
          <span class="tm_btn_icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M320 336h76c55 0 100-21.21 100-75.6s-53-73.47-96-75.6C391.11 99.74 329 48 256 48c-69 0-113.44 45.79-128 91.2-60 5.7-112 35.88-112 98.4S70 336 136 336h56M192 400.1l64 63.9 64-63.9M256 224v224.03" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
          </span>
          <span class="tm_btn_text">Download</span>
        </button>
      </div>
    </div>
  </div>
  <script src="/public/users/assets/js/jquery.min.js"></script>
  <script src="/public/users/assets/js/jspdf.min.js"></script>
  <script src="/public/users/assets/js/html2canvas.min.js"></script>
  <script src="/public/users/assets/js/main.js"></script>
</body>
</html>