<%- include('../userHeader.ejs') -%>
  <!-- Navbar -->

  <% if(list.length==0){ %>
    <div class="d-flex align-items-center justify-content-center" style="height: 90vh;">
      <div class="mt-md-5"></div>
      <img src="public\images\Wishlist.gif" alt="empty-wishlist" class="mt-5">
    </div>
    <% }else{ %>
      <!-- wishlist -->

      <div class="container">
        <div class="row mt-5">
          <div class="col-10 m-lr-auto m-b-50 mt-5">
            <div class="m-l-10 m-r--38 m-lr-0-xl">
              <div class="wrap-table-shopping-cart mt-5 mb-5">
                <table class="table-shopping-cart">
                  <tr class="table_head">
                    <th></th>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <% list.forEach(function(product){ %>
                    <tr class="table_row">
                      <td class="column-1">
                        <div >
                          <img src="<%=product.imageUrl[0]%>" alt="IMG" style="width: 60px; height: 80px; object-fit: cover;" />
                        </div>
                      </td>
                      <td class="column-2">
                       <a class="text-dark" href="/product_details/<%=product._id %>"><%=product.productName %></a> 
                      </td>
                      <td class="column-3">$ <%=product.price %>
                      </td>
                      <td class="column-4">
                        <button onclick="wishlistToCart('<%= product._id %>','<%=product.productName %>')"
                          class="bg1 bor1 hov-btn1 stext-101 cl0 size-101">
                          Add to cart
                        </button>
                      </td>
                      <td class="column-5">
                        <button onclick="removeFromWishlist('<%=product._id%>','<%=product.productName%>')"
                          class="bg2 bor1 hov-btn1 stext-101 cl0 size-101">
                          Remove
                        </button>
                      </td>
                    </tr>
                    <% }) %>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <% } %>

        <script>
          function wishlistToCart(productId, productName) {
            $.ajax({
              url: 'wishlistToCart/' + productId,
              method: 'post',
              success: (response) => {
                if (response.status) {
                  Swal.fire({
                    icon: 'success',
                    title: productName,
                    text: ' added to cart.',
                    showConfirmButton: false,
                    timer: 1500
                  })
                }
              }
            })
          }
          function removeFromWishlist(productId, productName) {
            $.ajax({
              url: '/removeWishlistItem/' + productId,
              method: 'post',
              success: (response) => {
                if (response.status) {
                  location.reload();
                  Swal.fire({
                    icon: 'success',
                    title: productName,
                    text: 'Removed from wishlist.',
                    showConfirmButton: false,
                    timer: 1500
                  })
                  window.reload()
                }
              }
            })
          }
        </script>
        <%- include('../userFooter.ejs') -%>