<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ride.</title>
  <link rel="icon" type="image/x-icon" href="../../public/admin/img/favicon/favicon.ico" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <style>
    body {
      background-color: #f5f5f9;
    }

    .box {
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }
  </style>

  <div class="container mt-5">
    <div class="row">
      <div class="col box p-4">
        <table class="table text-center">
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
          <% order.products.forEach(function(product){ %>
            <tr>
              <td>
                <%= product.productId.productName%>
              </td>
              <td>
                <%= product.quantity %>
              </td>
              <td>
                <%= product.productId.price %>
              </td>
              <td>
                <%= product.total %>
              </td>
            </tr>
            <% }) %>
              <tr>
                <td colspan="3" class="text-end">
                  <span>Sub Total</span><br>
                  <span>Discount</span><br>
                  <strong>Grand Total</strong>
                </td>
                <td> 
                  <span>₹ <%= order.subTotal %></span><br>
                  <span>₹ <%= order.discount.amount %></span><br>
                  <strong>₹ <%= order.grandTotal %></strong>
                </td>
              </tr>
        </table>
      </div>
    </div>
    
    <div class="row my-3 box">
      <div class="col-12 col-md-6 border">
        <h5 class="p-2">Shipping Address</h5>
        <div class="ps-3 pt-3">
          <p>Full name: <%= order.address.fullName %>
          </p>
          <p>Phone no : <%= order.address.phoneNumber %>
          </p>
          <p>Address : <%= order.address.address %>, <%= order.address.city %>, <%= order.address.state %> - <%=
                    order.address.pincode %>
          </p>
          <p>Type : <%= order.address.type %>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 text-end border" id="details">
        <h5 class="p-2">Other Details</h5>
        <div class="p-2">
          <span>Order Id : <%= order._id%></span><br>
          <% if(order.discount.amount){ %> 
            <span>Coupon used : <%= order.discount.couponId.coupon_code %> </span><br>
          <% } %> 
          <span>Order date : <%= moment(order.orderDate).format("LL") %> </span><br>
          <% if(order.orderStatus != 'Order Placed'){ %> 
            <span class="card-text"><%= order.orderStatus %> At : <%= moment(order.modifiedDate).format("LL") %></span><br>
            <% } %>
          <span>Delivery date : <%= moment(order.deliveryDate).format("LL") %> </span><br>
          <span>Payment Method : <%= order.paymentMethod %></span><br>
          <span>Payment Status : <%= order.paymentStatus %></span><br>
        </div>
        </p>
      </div>
    </div>

    <div class="row box my-3 d-flex align-items-center ">
      <div class="col-md-4 text-center p-2" id="orderStatus">
        <strong>Current order status :</strong> <span class="border">
           <%= order.orderStatus %>
        </span>
      </div>
      <div class="col-md-8  p-2 text-center" id="statusBtns">
        <button class="btn btn-outline-info m-2" onclick="changeStatus('<%= order._id %>', 'Packed')">Packed</button>
        <button class="btn btn-outline-primary m-2"onclick="changeStatus('<%= order._id %>', 'Shipped')">Shipped</button>
        <button class="btn btn-outline-success m-2"onclick="changeStatus ('<%= order._id %>', 'Delivered')">Delivered</button>
        <% if(order.paymentStatus == "Pending"){ %> 
        <button class="btn btn-outline-success m-2"onclick="paid('<%= order._id %>')">Paid</button>
        <% } %> 
        <button class="btn btn-outline-danger m-2" onclick="changeStatus('<%= order._id %>','Cancelled')">Cancel</button>
      </div>
    </div>
  </div>

  <script>
    function paid(orderId){
      $.ajax({
        url:'/admin/changePaymentStatus',
        method:'POST',
        data:{
          id:orderId
        },
        success:(response)=>{
          $("#details").load(" #details > *");
          $("#statusBtns").load(" #statusBtns > *");
            Swal.fire({
              icon: 'success',
              title: "Paid",
              text: 'Payment status updated successfully.',
              showConfirmButton: false,
              timer: 1500
            })
        }
      })
    }
    function changeStatus(OrderId, Status) {
      $.ajax({
        url: '/admin/changeOrderStatus',
        data: {
          status: Status,
          orderId: OrderId
        },
        method: 'post',
        success: (response) => {
          if (response) {
            $("#orderStatus").load(" #orderStatus > *");
            $("#details").load(" #details > *");
            Swal.fire({
              icon: 'success',
              title: Status,
              text: 'Order status updated successfully.',
              showConfirmButton: false,
              timer: 1500
            })
          }
        }
      })
    }
  </script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>