<%- include('../layoutHeader.ejs') -%>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <%- include("./menu.ejs") -%>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <%- include('./navbar.ejs') -%>
            <!-- / Navbar -->

            <!-- Hoverable Table rows -->

            <div class="card mt-4 mx-4">
              <h5 class="card-header">Orders</h5>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Order Id</th>
                      <th>Date</th>
                      <th>No. of Products</th>
                      <th>Total</th>
                      <th>Payment Status</th>
                      <th>Order Status</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    <% orders.forEach(function(order){ %>
                      <tr>
                        <td>
                          <%= order._id %>
                        </td>
                        <td>
                          <%= moment(order.date).format("LL") %>
                        </td>
                        <td>
                          <%= order.products.length %>
                        </td>
                        <td>
                          <%= order.total %>
                        </td>
                        <% if (order.paymentStatus=="Paid" ){ %>
                          <td><span class="badge bg-label-success me-1">
                              <%= order.paymentStatus %>
                            </span></td>
                          <% }else{ %>
                            <td><span class="badge bg-label-warning me-1">
                                <%= order.paymentStatus %>
                              </span></td>
                            <% } %>
                              <td>
                                <% if(order.orderStatus === "Packed"){ %> 
                                  <span class="badge bg-label-info me-1">Packed</span>
                                  <% }else if(order.orderStatus === "Shipped"){ %> 
                                  <span class="badge bg-label-primary me-1">Shipped</span>
                                  <% }else if(order.orderStatus === "Delivered"){ %>
                                  <span class="badge bg-label-success me-1">Delivered</span>
                                  <% }else if(order.orderStatus === "Cancelled"){ %> 
                                  <span class="badge bg-label-danger me-1">Cancelled</span>
                                  <% }else{ %> 
                                  <span class="badge bg-label-warning me-1">Processing</span>
                                  <% } %> 
                              </td>
                              <td>
                                <a href="/admin/order/<%= order._id %> " class="btn">
                                <span class="material-symbols-outlined">info</span>
                                </a>
                            </td>
                      </tr>
                      <% }) %>

                  </tbody>
                </table>
              </div>
            </div>
            <!--/ Hoverable Table rows -->

            <div class="content-backdrop fade"></div>
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <%- include('../layoutFooter.ejs') -%>