<%- include('../layoutHeader.ejs') -%>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <%- include("./menu.ejs") -%>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <%- include('./navbar.ejs') -%>
            <!-- / Navbar -->

            <!-- Hoverable Table rows -->

            <div class="text-end">
              <a href="addProduct"><button class="btn btn-success mt-3 mx-4" style="width: 150px" type="submit">
                  Add new
                </button>
              </a>
            </div>

            <div class="card mt-2 mx-4">
              <h5 class="card-header">All Products</h5>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Product</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Image</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    <% products.forEach(function(x){ %>
                      <tr>
                        <td>
                          <%= x.category.category %>
                        </td>
                        <td>
                          <%= x.productName %>
                        </td>
                        <td>
                          <%= x.description.slice(0,100)%>...
                        </td>
                        <td>
                          <%= x.price %>
                        </td>
                        <td>
                          <%= x.quantity %>
                        </td>
                        <td>
                          <img src="/<%= x.imageUrl[0] %>" alt="" style="height: 50px; width: 60px" />
                        </td>
                        <td>
                          <div class="dropdown">
                            <!-- <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button> -->
                            <div>
                              <a class="dropdown-item" href="/admin/editProduct/<%= x._id %>"><i
                                  class="bx bx-edit-alt me-1"></i> Edit</a>
                              <form action="/admin/deleteProduct/<%= x._id %>" method="post">
                                <button class="btn dropdown-item" type="submit"
                                  onclick="return confirm('Are you want to delete <%= x.productName %>?')"><i
                                    class="bx bx-trash me-1"></i>Delete</button>
                              </form>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <!--/ Hoverable Table rows -->

            <!-- Pagination -->
            <div class="mt-2 mx-4 d-flex justify-content-center">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <% if(page != 1){ %> 
                  <li class="page-item prev">
                    <a class="page-link " href="/admin/allProducts?page=<%= page-1 %>"><i class="tf-icon bx bx-chevron-left"></i></a>
                  </li>
                  <% } %> 
                  <%for(let i=1; i<= totalPages; i++){ %>
                  <% if(page == i){ %>  
                  <li class="page-item active">
                    <a class="page-link" href="/admin/allProducts?page=<%= i %>"><%= i %></a>
                  </li>
                <% }else{ %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/allProducts?page=<%= i %>"><%= i %></a>
                  </li>
                  <% } %>  
                  <% } %> 
                  <% if(page != totalPages){ %> 
                  <li class="page-item next ">
                    <a class="page-link" href="/admin/allProducts?page=<%= page+1 %>"><i class="tf-icon bx bx-chevron-right"></i></a>
                  </li>
                  <% } %> 
                </ul>
              </nav>
            </div>

            <div class="content-backdrop fade"></div>
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <%- include('../layoutFooter.ejs') -%>